<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Amazona</title>
</head>
<body>
    <div>
        <header>
            amazona
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li> Product 1</li>
                <li> Product 2</li>
                <li> Product 3</li>
                <li> Product 4</li>
                <li> Product 5</li>
                <li> Product 6</li>
            </ul>
        </main>
        <footer>
            All right reserved
        </footer>
    </div>
</body>
</html>