<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Amazona</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">amazona</a>
            </div>
            <div class="header-links">
                <a href="signin">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img scr="images/d1.jpeg" alt="product image">
                            <div class="product-name">Slim Shirt</div>
                            <div class="product-brand">Nike</div>
                            <div class="price">$60</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All right reserved
        </footer>
    </div>
</body>
</html>